.flag {
    width: 62px;
    height: 62px;
    position: absolute;
    background-size: cover;
    background-position: no-repeat;
    filter: grayscale(100%);
}
.flag2 {
    filter: none;
}
.brazil {
    background-image: url(../src/images/flags/brazil.png);
    top: 199px;
    left: 885px;
}
.china {
    background-image: url(../src/images/flags/china.png);
    top: 57px;
    left: 610px;
}
.india {
    background-image: url(../src/images/flags/india.png);
    top: 140px;
    left: 491px;
}
.japan1 {
    background-image: url(../src/images/flags/japan.png);
    top: 150px;
    left: 681px;
}
.japan2 {
    background-image: url(../src/images/flags/japan.png);
    top: 65px;
    left: 722px;
}
.russia {
    background-image: url(../src/images/flags/russia.png);
    top: 56px;
    left: 472px;
}
.spain {
    background-image: url(../src/images/flags/spain.png);
    top: 45px;
    left: 330px;
}
.thailand {
    background-image: url(../src/images/flags/thailand.png);
    top: 180px;
    left: 589px;
}
.usa1 {
    background-image: url(../src/images/flags/usa.png);
    top: 56px;
    left: 823px;
}
.usa2 {
    background-image: url(../src/images/flags/usa.png);
    top: 34px;
    left: 915px;
}
.usa3 {
    background-image: url(../src/images/flags/usa.png);
    top: 111px;
    left: 925px;
}
















