body {
    background-color: #090867;
    color: #fff;
}
.worldmap {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.worldmap img {
    width: 47rem;
    height: 19rem;

}
main {
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characters {
    width: 490px;
}
.characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.character {
    border: 1px solid antiquewhite;
}
.selected {
    border: 5px solid #47f4ff;
}
.char-img {
    width: 100px;
    height: 100px;
    /* width: 100px;
    height: 100px; */
    
}
.player-img {
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.player2 {
    transform: scaleX(-1);
}

@media (max-width: 1000px){
    .player2 {
        display: none;
    }
}

@media (max-width: 600px){
    .big-character {
        display: none;
    }
    .worldmap img {
        width: 28rem;
        height: 18rem;

    }
}
@media (max-width: 400px){
    .worldmap img {
        width: 20rem;
        height: 15rem;

    }
}